<div class="header">
    <div class="row px-0 mx-0">
        <div class="col-sm-12 d-flex px-0">
            <div class="logo-block text-left">
                <img src="/assets/logo.avif" alt="logo" />
            </div>
            <div class="heading-block d-flex w-100 justify-content-center align-items-center">
                <p>
                    What Should I Watch Tonight..!!!
                    <!-- <img src="/assets/think.webp" alt=""> -->
                </p>
            </div>
        </div>
    </div>
</div>